<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>信息绑定</title>
    <link rel="stylesheet" href="$!{basePath}/plug-in/followup/bootstrap/css/bootstrap.css">
    <script src="$!{basePath}/plug-in/followup/jquery/jquery.js"></script>
    <script src="$!{basePath}/plug-in/followup/bootstrap/js/bootstrap.js"></script>
    <script src="$!{basePath}/plug-in/followup/weixin/jweixin-1.4.0.js"></script>
    <style>
        .form-control input {
            line-height: 120%;
        }
    </style>
    <script>

    </script>
</head>
<body>
<script>
    $(function () {
        location.replace("${url}")
    })
</script>
</body>
</html>